doctype html
html
    head
        include includes/head.pug
        title Kanobu
    body
        pre <span class=green>jDan734@clownworld</span>:~ <br>$ ./kanobu

        pre.blue
            |         _                     _
            |        | | ____ _ _ __   ___ | |__  _   _
            |        | |/ / _` | '_ \ / _ \| '_ \| | | |
            |        |  &gt;  (_| | | | | (_) | |_) | |_| |
            |        |_|\_\__,_|_| |_|\___/|_.__/ \__,_|

        p 
            pre +---+-----------+-----------------+-------------+ <br>
                | | # | Результат | Игрок 1         | Игрок 2     |
                | +---+-----------+-----------------+-------------+
                | | 0 | <span class=green>Победа</span>    | <span class=gray>Bot</span> #4323245622 | <span class=gray>Bot</span> jDan735 |
                | | 1 | <span class=red>Проигрыш</span>  | <span class=gray>Bot</span> #4323245622 | <span class=gray>Bot</span> Obama   |
                | | 2 | <span class=green>Победа</span>    | <span class=gray>Bot</span> Obama       | <span class=gray>Bot</span> Kanobu  |
                | | 3 | <span class=green>Победа</span>    | <span class=gray>Bot</span> Kanobu      | <span class=gray>Bot</span> jDan735 |
                | +---+-----------+-----------------+-------------+
